<template>
    <v-container>
        <v-row>
            <v-col>
                <v-tabs
                        background-color="light-blue lighten-5"
                        class="elevation-2"
                        centered
                        icons-and-text
                        grow
                >
                    <v-tabs-slider></v-tabs-slider>

                    <v-tab
                            v-for="tab in tabs"
                            :key="tab.id"
                            :href="`#${tab.href}`"
                    >
                        {{tab.name}}
                        <v-icon>{{tab.icon}}</v-icon>
                    </v-tab>

                    <v-tab-item
                            value='status'
                    >
                        <Loader v-if="loading" />
                        <v-card
                                flat
                                tile
                                v-else
                        >
                            <v-row>
                                <v-col
                                        cols="8"
                                        class="mx-auto"
                                >
                                    <v-timeline align-top :dense="$vuetify.breakpoint.smAndDown" reverse>
                                        <v-timeline-item
                                                v-for="item in items"
                                                :key="item.id"
                                                :color="item.color"
                                                :icon="item.icon"
                                                fill-dot
                                        >
                                            <v-card
                                                    :color="item.color"
                                                    dark
                                            >
                                                <v-card-title class="justify-center">{{item.text}}</v-card-title>
                                                <v-card-text class="white text--primary text-center">
                                                    <p>{{item.subText}}</p>
                                                    <div
                                                            style="font-size: 20px"
                                                            v-if="item.id === 1"
                                                    >
                                                        {{formatDate(myAnnouncementBook.created)}}
                                                    </div>
                                                    <div
                                                            style="font-size: 20px"
                                                            v-if="item.id === 2 || item.id === 3"
                                                    >
                                                        <div
                                                                v-if="myAnnouncementBook.statuses.length"
                                                        >
                                                            {{formatDate(myAnnouncementBook.statuses[1].created)}}
                                                        </div>
                                                    </div>
                                                    <div
                                                            style="font-size: 20px"
                                                            v-if="item.id === 4"
                                                    >
                                                        <div
                                                                v-if="myAnnouncementBook.statuses.length === 4 || myAnnouncementBook.statuses.length > 4"
                                                        >
                                                            {{formatDate(myAnnouncementBook.statuses[3].created)}}
                                                        </div>
                                                    </div>

                                                    <div
                                                            style="font-size: 20px"
                                                            v-if="item.id === 5"
                                                    >
                                                        <div
                                                                v-if="myAnnouncementBook.statuses.length === 5"
                                                        >
                                                            {{formatDate(myAnnouncementBook.statuses[4].created)}}
                                                        </div>
                                                    </div>

                                                    <v-btn
                                                            v-if="item.buttonText && item.id < 4"
                                                            color="light-green"
                                                            class="mx-0"
                                                            outlined
                                                            @click="acceptBook(item.id)"
                                                    >
                                                        {{item.buttonText}}
                                                    </v-btn>
                                                    <v-btn
                                                            v-if="item.buttonText2 && item.id < 4"
                                                            color="red darken-1"
                                                            class="mx-0 mt-2"
                                                            outlined
                                                    >
                                                        {{item.buttonText2}}
                                                    </v-btn>
                                                    <v-btn
                                                            v-if="item.buttonText && item.id === 4 && myAnnouncementBook.statuses.length === 4"
                                                            color="light-green"
                                                            class="mx-0"
                                                            outlined
                                                            @click="acceptPayment"
                                                    >
                                                        {{item.buttonText}}
                                                    </v-btn>
                                                    <v-btn
                                                            v-if="item.buttonText2 && myAnnouncementBook.statuses.length === 4"
                                                            color="red darken-1"
                                                            class="mx-0 mt-2"
                                                            outlined
                                                    >
                                                        {{item.buttonText2}}
                                                    </v-btn>
                                                </v-card-text>
                                            </v-card>
                                        </v-timeline-item>
                                    </v-timeline>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-tab-item>
                </v-tabs>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import Loader from "../../components/app/Loader";

    import {mapGetters} from "vuex";

    export default {
        name: "myAnnouncementBook",
        components: {Loader},
        data: () => ({
            tabs: [
                {
                    id: 1,
                    name: 'Статус бронирования',
                    href: 'status',
                    icon: 'hourglass_empty'
                },
                // {
                //     id: 2,
                //     name: 'Информация об арендаторе',
                //     href: 'tenant',
                //     icon: 'person'
                // },
            ],
            items: [
                {
                    id: 1,
                    color: 'red lighten-2',
                    icon: 'mdi-plus-one',
                    text: 'Запрос на бронирование',
                    subText: 'Запрос на ваше объявление'
                },
                {
                    id: 2,
                    color: 'amber',
                    icon: 'mdi-check-circle',
                    text: 'Потверждение бронирования',
                    subText: 'На ваше объявление пришел запрос на бронирование. Вы можете принять или отказаться. В этой стадии также осуществляется вами самостоятельно следущие стадии бронирования: знакомство и разговор с арендатором, личная встреча, показ квартиры',
                    buttonText: 'Принять бронирование',
                    buttonText2: 'Отказать бронирование'
                },
                {
                    id: 3,
                    color: 'grey',
                    icon: 'account_balance_wallet',
                    text: 'Ожидание оплаты',
                    subText: '',
                },
                {
                    id: 4,
                    color: 'grey',
                    icon: 'money',
                    text: 'Потверждение оплаты'
                },
                {
                    id: 5,
                    color: 'grey',
                    icon: 'timelapse',
                    text: 'В процессе'
                },
                {
                    id: 6,
                    color: 'grey',
                    icon: 'done_all',
                    text: 'Конец бронирования'
                },
            ],
            myAnnouncementBook: {},
            loading: true
        }),
        computed: {
            ...mapGetters(['getCurrentMyAnnouncementBookUrl'])
        },
        async mounted() {
            this.myAnnouncementBook = await this.$store.dispatch('fetchCurrentMyAnnouncementBook', this.getCurrentMyAnnouncementBookUrl);
            const statuses = this.myAnnouncementBook.statuses.length;
            if (statuses) {
                if (statuses >= 3) {
                    this.items[1].buttonText = '';
                    this.items[1].buttonText2 = '';

                    this.items[2].color = 'purple';
                    this.items[2].subText = 'Мы отправили арендатору запрос об оплате';

                    if (statuses >= 4) {
                        this.items[3].color = 'lime';
                        this.items[3].subText = 'Если арендатор оплатил бронирования квартиры, то пожалуйста, потвердите оплату, чтобы перейти к следующей стадии.'
                        this.items[3].buttonText = 'Принять платеж';
                        this.items[3].buttonText2 = 'Арендатор не оплатил'
                    }
                }

                if (statuses >= 5) {
                    this.items[4].color = 'yellow';
                    this.items[4].subText = 'В указанном прмежутке времени арендатор будет жить в вашей квартире. Следующая стадия начнется после окончания бронирования или когда арендатор досрочно остановит бронирование';
                    this.items[5].color = 'red';
                    this.items[4].subText = 'Конец';
                }

            }
            this.loading = false
        },
        methods: {
            formatDate (date) {
                if (!date) return null;
                date = date.slice(0, 10);

                const [year, month, day] = date.split('-');
                return `${day}/${month}/${year}`
            },
            async acceptBook (id) {

                this.loading = true;
                const bookUrl = "https://megapolus.herokuapp.com/booking/" + this.myAnnouncementBook.id + "/";

                if (id === 2) {
                    await this.$store.dispatch('addStatusOfBook', {
                        term: 1,
                        booking: this.myAnnouncementBook.id
                    });
                    await this.$store.dispatch('addStatusOfBook', {
                        term: 2,
                        booking: this.myAnnouncementBook.id
                    });
                    await this.$store.dispatch('addStatusOfBook', {
                        term: 3,
                        booking: this.myAnnouncementBook.id
                    });
                    this.myAnnouncementBook = await this.$store.dispatch('fetchCurrentMyAnnouncementBook', bookUrl);

                    this.items[1].buttonText = '';
                    this.items[1].buttonText2 = '';

                    this.items[2].color = 'purple';
                    this.items[2].subText = 'Мы отправили арендатору запрос об оплате';
                }
                this.loading = false;
            },
            async acceptPayment () {
                this.loading = true;

                const bookUrl = "https://megapolus.herokuapp.com/booking/" + this.myAnnouncementBook.id + "/";

                await this.$store.dispatch('addStatusOfBook', {
                    term: 5,
                    booking: this.myAnnouncementBook.id
                });

                this.myAnnouncementBook = await this.$store.dispatch('fetchCurrentMyAnnouncementBook', bookUrl);

                this.items[4].color = 'yellow';
                this.items[4].subText = 'В указанном прмежутке времени арендатор будет жить в вашей квартире. Следующая стадия начнется после окончания бронирования или когда арендатор досрочно остановит бронирование';

                this.loading = false;
            }
        }
    }
</script>

<style scoped>

</style>