<template>
    <v-card
            flat
            tile
    >
        <v-row v-if="myAnnouncement.reviews.length > 0">
            <v-col
                    cols="10"
                    class="mx-auto"
            >
                <v-card
                        max-width="500"
                        class="mx-auto mt-2"
                        raised
                        v-for="review in myAnnouncement.reviews"
                        :key="review.id"
                >
                    <v-container fluid>
                        <v-row>
                            <v-col cols="5">
                                <v-list-item>
                                    <v-list-item-avatar color="grey"></v-list-item-avatar>
                                    <v-list-item-content>
                                        <v-list-item-title>{{review.name}}</v-list-item-title>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-col>
                            <v-col cols="7" class="mt-2 text-center">
                                <v-rating
                                        v-model="review.star"
                                        background-color="orange lighten-3"
                                        color="orange"
                                >
                                </v-rating>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <h3 class="text-center">
                                    {{review.review}}
                                </h3>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card>
            </v-col>
        </v-row>
        <v-row v-else>
            <v-col
                    cols="12"
                    class="text-center"
            >
                <h2>
                    Еще никто не оставлял отзыв об этом объявлении
                </h2>
            </v-col>
        </v-row>
    </v-card>
</template>

<script>
    export default {
        name: "MyAnnouncementReviews",
        data: () => ({
            myAnnouncement: {},
        }),
        async mounted () {
            this.myAnnouncement = await this.$store.dispatch('fetchCurrentMyAnnouncement');
        }
    }
</script>

<style scoped>

</style>