<template>
    <div>
        <v-footer
            :fixed="true"
            app
            color="primary"
        >
            <v-row>
                <v-col>
                    <span class="white--text">
                        Все права защищены &copy;2020 Z.Gaziz, A. Baimbet, S.Bolatzhanuly
                    </span>
                </v-col>
                <v-col class="text-right">
                    <span
                            class="white--text"
                            @click="openPrivacy"
                            style="cursor: pointer"
                    >
                        Условия и политика конфиденциальности
                    </span>
                </v-col>
            </v-row>
        </v-footer>
    </div>
</template>

<script>
    export default {
        name: "Footer",
        methods: {
            openPrivacy () {
                this.$router.push('/privacy')
            }
        }
    }
</script>

<style scoped>

</style>