<template>
    <GmapMap
            :center="{lat: getCurrentAnnouncement.lat, lng: getCurrentAnnouncement.lng}"
            :zoom="18"
            style="width: 100%; height: 300px"
    />
</template>

<script>
    import {mapGetters} from "vuex";
    export default {
        name: "GoogleMapLoader",
        computed: {
            ...mapGetters(['getCurrentAnnouncement'])
        }
    }
</script>

<style scoped>

</style>