<template>
    <v-col cols="12" class="text-center">
        <v-progress-circular
                :size="70"
                :width="7"
                color="primary"
                indeterminate
        ></v-progress-circular>
    </v-col>
</template>

<script>
    export default {
        name: "Loader"
    }
</script>

<style scoped>

</style>