<template>
    <div>
        <v-navigation-drawer
            absolute
            temporary
            v-model="drawer"
            class="hidden-md-and-up"
        >
            <v-list>
                <v-list-item
                        @click="addAnnouncement"
                >
                    <v-list-item-title>
                        <v-icon left>announcement</v-icon>
                        Подать объявление
                    </v-list-item-title>
                </v-list-item>
                <v-list-item
                    v-for="(item, i) in menuItems"
                    :key="`drawer${i}`"
                    :to="item.route"
                >
                    <v-list-item-title>
                        <v-icon left v-html="item.icon" />
                        {{item.title}}
                    </v-list-item-title>
                </v-list-item>
                <v-list-item
                        v-if="userLoggedIn"
                        @click="logout"
                >
                    <v-list-item-title>
                        <v-icon left>exit_to_app</v-icon>
                        Выйти
                    </v-list-item-title>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar
            app
            class="primary"
            dark
        >
            <v-app-bar-nav-icon
                @click.stop="drawer = !drawer"
                class="hidden-md-and-up"
            />

            <v-avatar
                    size="100px"
                    class="mt-4"
            >
                <v-img
                        :src="images[0].src"
                />
            </v-avatar>

            <router-link
                to="/"
                tag="span"
                style="cursor: pointer"
                class="ml-n5"
            >
                <v-toolbar-title
                    v-text="'MEGAPOLUS'"
                />
            </router-link>

            <v-spacer></v-spacer>

            <v-btn
                    rounded
                    class="blue mr-2 hidden-sm-and-down"
                    @click="addAnnouncement"
            >
                <v-icon left>announcement</v-icon>
                Подать объявление
            </v-btn>

            <v-btn
                rounded
                v-for="(item, i) in menuItems"
                :key="`menuitem${i}`"
                :to="item.route"
                class="blue mr-2 hidden-sm-and-down"
            >
                <v-icon left v-html="item.icon" />
                {{item.title}}
            </v-btn>

            <v-btn
                    rounded
                    to="/login"
                    class="blue mr-2 hidden-sm-and-down"
                    v-if="userLoggedIn"
                    @click="logout"
            >
                <v-icon left>exit_to_app</v-icon>
                Выйти
            </v-btn>

        </v-app-bar>

    </div>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        name: "Navbar",
        data: () => ({
            drawer: false,
            images: [
                {
                    name: 'logo',
                    src: require('@/assets/logo/logo.png')
                },
            ]
        }),
        computed: {
            menuItems () {
                let menuItems;

                if (this.userLoggedIn) {
                    menuItems = [
                        {
                            icon: 'account_circle',
                            title: 'Мой кабинет',
                            route: '/profile'
                        }
                    ]
                }
                else if (!this.userLoggedIn) {
                    menuItems = [
                        {
                            icon: 'input',
                            title: 'Войти',
                            route: '/login'
                        },
                        {
                            icon: 'lock_open',
                            title: 'Регистрация',
                            route: '/registration'
                        }
                    ]
                }
                return menuItems
            },
            ...mapGetters(['userLoggedIn'])
        },
        methods: {
            async logout () {
                try {
                    await this.$store.dispatch('logout');
                    this.$router.push('/login');
                    location.reload()
                    // eslint-disable-next-line no-empty
                }catch (e) {}
            },
            addAnnouncement () {
                if (this.userLoggedIn) {
                    this.$router.push('/addAnnouncement')
                } else if (!this.userLoggedIn) {
                    this.$router.push('/login')
                }
            }
        }
    }
</script>

<style scoped>

</style>