<template>
    <v-container>
        <v-row v-if="loading">
            <v-col>
                <Loader />
            </v-col>
        </v-row>
        <v-row v-else>
            <v-col>
                <h1>Подать объявление</h1>
                <v-form>
                    <v-select
                            label="Количество комнат"
                            :items="rooms"
                            v-model="numberOfRooms"
                            prepend-icon="meeting_room"
                    />
                    <v-text-field
                            label="Цена в день (〒)"
                            v-model="price"
                            type="number"
                            prepend-icon="money"
                    />
                    <v-text-field
                            label="Год постройки здания (сдачи в эксплуатацию)"
                            v-model="yearOfConstruction"
                            type="number"
                            prepend-icon="build"
                    />
                    <v-text-field
                            label="Этаж в котором находится квартира"
                            v-model="numOfFloor"
                            type="number"
                            prepend-icon="apartment"
                    />
                    <v-text-field
                            label="Общее количество этажей здания"
                            v-model="numberOfFloorsOfTheHouse"
                            type="number"
                            prepend-icon="apartment"
                    />
                    <v-text-field
                            label="Площадь, м²"
                            v-model="area"
                            type="number"
                            prepend-icon="panorama_wide_angle"
                    />
                    <v-select
                            :items="districts"
                            label="Район"
                            v-model="district"
                            prepend-icon="location_city"
                    ></v-select>
                    <v-text-field
                            label="Улица"
                            v-model="street"
                            prepend-icon="traffic"
                    />
                    <v-text-field
                            label="Номер дома"
                            v-model="numberOfHouse"
                            type="number"
                            prepend-icon="house"
                    />
                    <v-text-field
                            label="Номер квартиры"
                            v-model="numberOfApartment"
                            type="number"
                            prepend-icon="home_work"
                    />
                    <v-textarea
                            label="Описание"
                            v-model="description"
                            prepend-icon="description"
                    />
                    <v-file-input
                            multiple
                            label="Добавить фотографии"
                            v-model="images"
                    />
                    <v-btn
                        type="submit"
                        color="primary"
                        @click.prevent="addAnnouncement"
                    >
                        Сохранить
                    </v-btn>
                </v-form>
            </v-col>
        </v-row>
        <v-row>
            <v-col justify="center">
                <v-snackbar
                        v-model="announcementSuccessSnackbar"
                        :timeout=3000
                        top
                        color="success"
                        style="font-size: 18px"
                        class="text-sm-center"
                >
                    Ваше объявление успешно сохранена!
                    <v-btn
                            dark
                            text
                            @click="announcementSuccessSnackbar = false"
                    >
                        Закрыть
                    </v-btn>
                </v-snackbar>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import Loader from "@/components/app/Loader"

    import {mapGetters} from "vuex";

    export default {
        name: "AddAnnouncement",
        data: () => ({
            numberOfRooms: '',
            price: '',
            term: '',
            termNum: '',
            yearOfConstruction: '',
            numOfFloor: '',
            numberOfFloorsOfTheHouse: '',
            area: '',
            district: '',
            street: '',
            numberOfHouse: '',
            numberOfApartment: '',
            description: '',
            img_link: 'https://xn----7sbb1aspsel4gqaqr.xn--p1ai/static/empty.png',
            districts: ['Алатауский', 'Алмалинский', 'Ауэзовский', 'Бостандыкский',
                        'Жетысуский', 'Медеуский', 'Наурызбайский', 'Турксибский'],
            announcementSuccessSnackbar: false,
            rooms: [
                1, 2, 3, 4, 5
            ],
            images: [],
            loading: false
        }),
        components: {
          Loader
        },
        methods: {
            async addAnnouncement () {

                const formData = new FormData();

                formData.append('numberOfRooms', this.numberOfRooms);
                formData.append('price', this.price);
                formData.append('term', 2);
                formData.append('yearOfConstruction', this.yearOfConstruction);
                formData.append('numOfFloor', this.numOfFloor);
                formData.append('numberOfFloorsOfTheHouse', this.numberOfFloorsOfTheHouse);
                formData.append('area', this.area);
                formData.append('district', this.district);
                formData.append('street', this.street);
                formData.append('house', this.numberOfHouse);
                formData.append('apartment', this.numberOfApartment);
                formData.append('description', this.description);
                formData.append('img_link', this.img_link);
                formData.append('enabled', true);
                formData.append('booking_enabled', false);
                formData.append('lat', 43.248743);
                formData.append('lng', 76.89362);
                formData.append('user', this.getUser.id);

                for( let i = 0; i < this.images.length; i++ ){
                    let image = this.images[i];
                    formData.append('image_' + i, image);
                }

                this.loading = true;

                await this.$store.dispatch('addAnnouncement', formData);

                this.announcementSuccessSnackbar = true;

                this.loading = false;

                this.numberOfRooms = this.price = this.term = this.yearOfConstruction =
                this.numOfFloor = this.numberOfFloorsOfTheHouse = this.area = this.district =
                this.street = this.numberOfHouse = this.numberOfApartment = this.description = this.img_link =
                this.images = '';
            }
        },
        computed: {
            ...mapGetters(['getUser'])
        }
    }
</script>

<style scoped>

</style>