<template>
    <v-container>
        <v-row>
            <v-col>
                <v-tabs
                        background-color="light-blue lighten-5"
                        class="elevation-2"
                        centered
                        icons-and-text
                        grow
                >

                    <v-tabs-slider></v-tabs-slider>

                    <v-tab
                            v-for="tab in tabs"
                            :key="tab.id"
                            :href="`#${tab.href}`"
                    >
                        {{tab.name}}
                        <v-icon>{{tab.icon}}</v-icon>
                    </v-tab>

                    <v-tab-item
                            value="announcement"
                    >
                        <v-card
                                flat
                                tile
                        >
                            <v-row>
                                <v-col
                                        cols="10"
                                        class="mx-auto"
                                >
                                    <v-row>
                                        <v-col>
                                            <h2>
                                                <span>
                                                    {{getCurrentAnnouncement.numberOfRooms}}-комнатная квартира,
                                                    {{getCurrentAnnouncement.area}} м²,
                                                    {{getCurrentAnnouncement.numOfFloor}}/{{getCurrentAnnouncement.numberOfFloorsOfTheHouse}}
                                                    этаж,
                                                    {{getCurrentAnnouncement.district}} р-н,
                                                    {{getCurrentAnnouncement.street}}
                                                    {{getCurrentAnnouncement.house}}<span v-if="getCurrentAnnouncement.apartment !== 0">, квартира {{getCurrentAnnouncement.apartment}}</span>
                                                </span>
                                            </h2>
                                        </v-col>
                                    </v-row>
                                    <v-divider />
                                    <v-row>
                                        <v-col>
                                            <h3>
                                                {{getCurrentAnnouncement.price}} 〒
                                            </h3>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="4">
                                            <v-row>
                                                <v-col cols="3">
                                                    Район
                                                </v-col>
                                                <v-col cols="5">
                                                    _______________
                                                </v-col>
                                                <v-col cols="4">
                                                    {{getCurrentAnnouncement.district}}
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col cols="3">
                                                    Дом
                                                </v-col>
                                                <v-col cols="5">
                                                    _______________
                                                </v-col>
                                                <v-col cols="4">
                                                    {{getCurrentAnnouncement.yearOfConstruction}} г.п.
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col cols="3">
                                                    Этаж
                                                </v-col>
                                                <v-col cols="5">
                                                    _______________
                                                </v-col>
                                                <v-col cols="4">
                                                    {{getCurrentAnnouncement.numOfFloor}} из {{getCurrentAnnouncement.numberOfFloorsOfTheHouse}}
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col cols="3">
                                                    Площадь
                                                </v-col>
                                                <v-col cols="5">
                                                    _______________
                                                </v-col>
                                                <v-col cols="4">
                                                    {{getCurrentAnnouncement.area}} м²
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col>
                                                    <v-card>
                                                        <v-card-text>
                                                            Автор объявления
                                                        </v-card-text>
                                                        <v-card-text class="orange--text">
                                                            Объявление от хозяина
                                                        </v-card-text>
                                                        <v-card-text>
                                                            <h2>
                                                                +7 705 676 0000
                                                            </h2>
                                                        </v-card-text>
                                                    </v-card>
                                                </v-col>
                                            </v-row>
                                        </v-col>
                                        <v-col cols="8">
                                            <v-row>
                                                <v-col v-if="getCurrentAnnouncement.images.length > 0">
                                                    <v-img
                                                            :src="getCurrentAnnouncement.images[selectedImage].file"
                                                    />
                                                </v-col>
                                                <v-col v-else>
                                                    <v-img

                                                            :src="getCurrentAnnouncement.img_link"
                                                    />
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col>
                                                    <v-slide-group
                                                            show-arrows
                                                            prev-icon="navigate_before"
                                                            next-icon="navigate_next"
                                                            v-model="selectedImage"
                                                            mandatory
                                                    >
                                                        <v-slide-item
                                                                v-for="image in getCurrentAnnouncement.images"
                                                                :key="image.created"
                                                                v-slot:default="{ active, toggle }"
                                                        >
                                                            <v-card
                                                                    @click="toggle"
                                                                    class="ma-4"
                                                                    height="100"
                                                                    max-width="200"
                                                            >
                                                                <v-img
                                                                        :src="image.file"
                                                                        height="100px"
                                                                        :style=" active ? 'border: 2px solid #ffdd61;' : 'border: 0'"
                                                                ></v-img>
                                                            </v-card>
                                                        </v-slide-item>
                                                    </v-slide-group>
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col>
                                                    <GoogleMap />
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col cols="12">
                                                    {{getCurrentAnnouncement.description}}
                                                </v-col>
                                                <v-col cols="12">
                                                    {{formatDate(getCurrentAnnouncement.created_at)}}
                                                </v-col>
                                            </v-row>
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-tab-item>

                    <v-tab-item
                            value="reviews"
                    >
                        <v-card
                                flat
                                tile
                        >
                            <v-row v-if="getCurrentAnnouncement.reviews.length > 0">
                                <v-col
                                        cols="10"
                                        class="mx-auto"
                                >
                                    <v-card
                                            max-width="500"
                                            class="mx-auto mt-2"
                                            raised
                                            v-for="review in getCurrentAnnouncement.reviews"
                                            :key="review.id"
                                    >
                                        <v-container fluid>
                                            <v-row>
                                                <v-col cols="5">
                                                    <v-list-item>
                                                        <v-list-item-avatar color="grey"></v-list-item-avatar>
                                                        <v-list-item-content>
                                                            <v-list-item-title>{{review.name}}</v-list-item-title>
                                                        </v-list-item-content>
                                                    </v-list-item>
                                                </v-col>
                                                <v-col cols="7" class="mt-2 text-center">
                                                    <v-rating
                                                            v-model="review.star"
                                                            background-color="orange lighten-3"
                                                            color="orange"
                                                    >
                                                    </v-rating>
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col>
                                                    <h3 class="text-center">
                                                        {{review.review}}
                                                    </h3>
                                                </v-col>
                                            </v-row>
                                        </v-container>
                                    </v-card>
                                </v-col>
                            </v-row>
                            <v-row v-else>
                                <v-col
                                        cols="12"
                                        class="text-center"
                                >
                                    <h2>
                                        Еще никто не оставлял отзыв об этом объявлении
                                    </h2>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-tab-item>

                </v-tabs>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import GoogleMap from '@/components/app/GoogleMap'
    import {mapGetters} from "vuex";

    export default {
        name: "Announcement",
        data: () => ({
            tabs: [
                {
                    id: 1,
                    name: 'Информация об объявлении',
                    href: 'announcement',
                    icon: 'announcement'
                },
                {
                    id: 2,
                    name: 'Отзывы',
                    href: 'reviews',
                    icon: 'star'
                }
            ],
            selectedImage: 0
        }),
        components: {
            GoogleMap
        },
        computed: {
            ...mapGetters(['getCurrentAnnouncement'])
        },
        methods: {
            formatDate (date) {
                if (!date) return null;
                date = date.slice(0, 10);

                const [year, month, day] = date.split('-');
                return `${day}/${month}/${year}`
            }
        }
    }
</script>

<style scoped>

</style>