<template>
  <v-container>

    <FilterApartments />

    <CardOfApartment />

    <BookSuccessSnackbar />

  </v-container>
</template>

<script>
  import CardOfApartment from "@/components/home/CardOfApartment";
  import BookSuccessSnackbar from "@/components/home/BookSuccessSnackbar";
  import FilterApartments from "@/components/home/FilterAnnouncements";

  export default {
    name: 'Home',
    components: {
      CardOfApartment, BookSuccessSnackbar, FilterApartments
    }
  }
</script>
