<template>
    <v-row>
        <v-col justify="center">
            <v-dialog
                    v-model="currentBookDialogStatus"
                    max-width="500"
                    persistent
            >
                <v-card>
                    <v-toolbar
                            color="primary"
                            dark
                            flat
                    >
                        <v-toolbar-title>Бронирование</v-toolbar-title>
                        <v-spacer />
                    </v-toolbar>

                    <v-card-text
                            class="mt-6"
                    >
                        <v-form>
                            <v-menu
                                    :close-on-content-click="false"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="290px"
                            >
                                <template v-slot:activator="{ on }">
                                    <v-text-field
                                            v-model="dateRangeText"
                                            label="Начало и конец бронирования"
                                            prepend-icon="event"
                                            readonly
                                            v-on="on"
                                    ></v-text-field>
                                </template>
                                <v-date-picker
                                        v-model="dates"
                                        range
                                ></v-date-picker>
                            </v-menu>
                            <v-textarea
                                    label="Описание"
                                    v-model="description"
                                    prepend-icon="description"
                            />
                        </v-form>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                                color="red"
                                text
                                @click="cancelBook"
                        >
                            Отменить
                        </v-btn>
                        <v-btn
                                color="green"
                                text
                                @click="saveBook"
                        >
                            Сохранить
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-col>
    </v-row>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        name: "BookNow",
        data: () => ({
            dates: [],
            description: ''
        }),
        methods: {
            async saveBook () {
                const announcementId = this.getCurrentAnnouncement.id;
                const announcementUrl = "https://megapolus.herokuapp.com/apartments/" + announcementId + "/";

                await this.$store.dispatch('addBook', {
                    date_start: this.dates[0],
                    date_end: this.dates[1],
                    description: this.description,
                    user: this.getUser.id,
                    apartment: announcementId,
                    apartment_owner: this.getCurrentAnnouncement.user
                });
                await this.$store.dispatch('changeStatusOfBookingOfThisAnnouncement', {
                    announcementUrl: announcementUrl,
                    booking_enabled: true
                });
                await this.$store.dispatch('changeBookDialogStatusToFalse');
                await this.$store.dispatch('changeBookSuccessSnackbarToTrue');
                setTimeout(() => {
                    this.$store.dispatch('changeBookSuccessSnackbarToFalse');
                }, 2000)
            },
            cancelBook () {
                this.$store.dispatch('changeBookDialogStatusToFalse');
            }
        },
        computed: {
            dateRangeText () {
                return this.dates.join(' ~ ')
            },
            ...mapGetters(['currentBookDialogStatus']),
            ...mapGetters(['getUser']),
            ...mapGetters(['getCurrentAnnouncement']),
        }
    }
</script>

<style scoped>

</style>