<template>
    <v-row>
        <v-col justify="center">
            <v-snackbar
                    v-model="currentBookSuccessSnackbar"
                    :timeout=3000
                    top
                    color="success"
                    style="font-size: 18px"
                    class="text-sm-center"
            >
                Ваш запрос на бронирование данной квартиры успешно отправлен!
                <v-btn
                        dark
                        text
                        @click="bookSuccessSnackbar = false"
                >
                    Закрыть
                </v-btn>
            </v-snackbar>
        </v-col>
    </v-row>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        name: "BookSuccessSnackbar",
        computed: {
            ...mapGetters(['currentBookSuccessSnackbar']),
        }
    }
</script>

<style scoped>

</style>