<template>
    <div>
        <v-row v-if="loading">
            <Loader />
        </v-row>
        <v-row v-else>
            <v-col cols="12" v-if="getFilteredAnnouncements.length">
                <v-card
                        v-for="announcement in getFilteredAnnouncements"
                        :key="announcement.id"
                        class="mx-auto mt-5"
                        max-width="1000"
                        color="light-blue lighten-5"
                        shaped
                        @click="currentAnnouncement(announcement.id)"
                >
                    <v-row>
                        <v-col cols="12" sm="6" md="5" class="text-center">
                            <v-avatar
                                    size="300"
                                    tile
                                    class="mt-n4 mb-n4" v-if="announcement.images.length > 0"
                            >
                                <v-img
                                        :src="announcement.images[0].file"
                                        contain
                                />
                            </v-avatar>
                            <v-avatar
                                    size="300"
                                    tile
                                    class="mt-n4 mb-n4" v-else
                            >
                                <v-img
                                        :src="announcement.img_link"
                                        contain
                                />
                            </v-avatar>
                        </v-col>
                        <v-col cols="12" sm="6" md="7">
                            <v-row>
                                <v-col cols="12" md="9">
                                    <v-card-title
                                            class="blue--text font-weight-bold mt-n12 mt-sm-0"
                                    >
                                        {{announcement.numberOfRooms}}-комнатная квартира,
                                        {{announcement.area}} м²,
                                        {{announcement.numOfFloor}}/{{announcement.numberOfFloorsOfTheHouse}} этаж
                                    </v-card-title>
                                    <v-card-subtitle
                                            class="font-weight-bold"
                                    >
                                            {{announcement.district}} р-н,
                                            {{announcement.street}}
                                            {{announcement.house}}<span v-if="announcement.apartment !== 0">, квартира {{announcement.apartment}}</span>
                                    </v-card-subtitle>
                                </v-col>
                                <v-col cols="12" md="3">
                                    <div
                                            class="mt-n8 ml-4 mt-md-5 ml-md-0 text-md-center"
                                    >
                                        {{announcement.price}} 〒
                                    </div>

                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="12" class="mt-n8">
                                    <v-card-subtitle
                                    >
                                        {{announcement.yearOfConstruction}} г.п.
                                    </v-card-subtitle>
                                </v-col>
                                <v-col cols="12" class="mt-n8 mb-n4">
                                    <v-card-actions v-if="!announcement.booking_enabled">
                                        <v-btn
                                                color="orange"
                                                text
                                                @click.stop="bookNow(announcement.id)"
                                        >
                                            Забронировать
                                        </v-btn>

                                    </v-card-actions>
                                    <v-card-text
                                            v-else
                                            style="font-size: 17px"
                                            class="red--text darken-1"
                                    >
                                        Квартира забронирована
                                    </v-card-text>
                                </v-col>
                                <v-col cols="5">
                                    <v-row>
                                        <v-col>
                                            <v-card-subtitle
                                                    style="font-size: 20px"
                                                    class="mt-n2"
                                            >
                                                {{formatDate(announcement.created_at)}}
                                            </v-card-subtitle>
                                        </v-col>
                                    </v-row>
                                </v-col>
                                <v-col cols="7">
                                    <v-row v-if="announcement.reviews.length">
                                        <v-col cols="7">
                                            <v-rating
                                                    v-model="announcement.reviews[0].star"
                                                    background-color="orange lighten-3"
                                                    color="orange"
                                            >
                                            </v-rating>
                                        </v-col>
                                        <v-col cols="5" class="mt-2">
                                            ({{announcement.reviews.length}})
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>
            <v-col
                    cols="12"
                    v-else
                    class="text-center"
            >
                <h2>Ничего не найдено. Пожалуйста, измените параметры поиска и попробуйте еще раз!</h2>
            </v-col>
        </v-row>

        <BookNow />
    </div>
</template>

<script>
    import BookNow from "./BookNow";
    import Loader from "../app/Loader";

    import { mapGetters } from 'vuex'

    export default {
        name: "AnnouncementCard",
        data: () => ({
            loading: true
        }),
        components: {
            BookNow, Loader
        },
        computed: {
            ...mapGetters(['getFilteredAnnouncements']),
        },
        async mounted() {
            await this.$store.dispatch('fetchFilteredAnnouncements', {
                selectedRooms: [],
                fromPrice: '',
                toPrice: '',
                photo: false
            });

            this.myAnnouncementsBooks = await this.$store.dispatch('fetchMyAnnouncementsBooks');

            this.loading = false
        },
        methods: {
            async currentAnnouncement (announcementId) {
                const announcementUrl = "https://megapolus.herokuapp.com/apartments/" + announcementId + "/";

                let routeData;

                await this.$store.dispatch('fetchCurrentAnnouncement', announcementUrl);
                routeData = this.$router.resolve({ path: '/announcement/' + announcementId});
                window.open(routeData.href, '_blank')
            },
            async bookNow (announcementId) {
                const announcementUrl = "https://megapolus.herokuapp.com/apartments/" + announcementId + "/";

                await this.$store.dispatch('changeBookDialogStatusToTrue');
                await this.$store.dispatch('fetchCurrentAnnouncement', announcementUrl);
            },
            formatDate (date) {
                if (!date) return null;
                date = date.slice(0, 10);

                const [year, month, day] = date.split('-');
                return `${day}/${month}/${year}`
            }
        }
    }
</script>

<style scoped>

</style>