<template>
    <v-row>
        <v-col>
            <v-card
                    class="mx-auto orange lighten-1"
                    light
            >
                <v-row>
                    <v-col cols="4" class="offset-2">
                        <v-select
                                outlined
                                label="Количество комнат"
                                dense
                                multiple
                                :items="rooms"
                                background-color="white"
                                v-model="selectedRooms"
                        />
                    </v-col>
                    <v-col cols="2">
                        <v-text-field
                                label="от (цена)"
                                outlined
                                dense
                                background-color="white"
                                v-model="fromPrice"
                                type="number"
                        />
                    </v-col>
                    <v-col cols="2">
                        <v-text-field
                                label="до (цена)"
                                outlined
                                dense
                                background-color="white"
                                v-model="toPrice"
                                type="number"
                        />
                    </v-col>
                </v-row>
                <v-row>
                    <v-col class="offset-2" cols="2">
                        <v-switch
                                label="есть фото"
                                color="white"
                                class="mt-2"
                                v-model="photo"
                        />
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-card-actions class="justify-center">
                            <v-btn
                                    color="primary"
                                    @click="search"
                            >
                                Найти
                            </v-btn>
                        </v-card-actions>
                    </v-col>
                </v-row>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
    export default {
        name: "FilterAnnouncements",
        data: () => ({
            rooms: [
                1, 2, 3, 4, 5
            ],
            selectedRooms: [],
            fromPrice: '',
            toPrice: '',
            photo: false
        }),
        methods: {
            async search () {
                await this.$store.dispatch('fetchFilteredAnnouncements', {
                    selectedRooms: this.selectedRooms,
                    fromPrice: this.fromPrice,
                    toPrice: this.toPrice,
                    photo: this.photo
                })
            }
        }
    }
</script>

<style scoped>

</style>