<template>
    <v-container>
        <v-row>
            <v-col>
                <v-tabs
                        background-color="light-blue lighten-5"
                        class="elevation-2"
                        centered
                        icons-and-text
                        grow
                >
                    <v-tabs-slider></v-tabs-slider>

                    <v-tab
                            v-for="tab in tabs"
                            :key="tab.id"
                            :href="`#${tab.href}`"
                    >
                        {{tab.name}}
                        <v-icon>{{tab.icon}}</v-icon>
                    </v-tab>

                    <v-tab-item
                            value='announcement'
                    >
                        <v-card
                                flat
                                tile
                        >
                            <v-row>
                                <v-col class="offset-1">
                                    <h2>
                                        <span>
                                            {{myAnnouncement.numberOfRooms}}-комнатная квартира,
                                            {{myAnnouncement.area}} м²,
                                            {{myAnnouncement.numOfFloor}}/{{myAnnouncement.numberOfFloorsOfTheHouse}}
                                            этаж,
                                            {{myAnnouncement.district}} р-н,
                                            {{myAnnouncement.street}}
                                            {{myAnnouncement.house}}<span v-if="myAnnouncement.apartment !== 0">, квартира {{myAnnouncement.apartment}}</span>
                                        </span>
                                    </h2>
                                </v-col>
                            </v-row>
                            <v-divider />
                            <v-row>
                                <v-col class="offset-1">
                                    <h3>
                                        {{myAnnouncement.price}} 〒
                                    </h3>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="3" class="offset-1">
                                    <v-row>
                                        <v-col cols="3">
                                            Район
                                        </v-col>
                                        <v-col cols="5">
                                            _____________
                                        </v-col>
                                        <v-col cols="4">
                                            {{myAnnouncement.district}}
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="3">
                                            Дом
                                        </v-col>
                                        <v-col cols="5">
                                            _____________
                                        </v-col>
                                        <v-col cols="4">
                                            {{myAnnouncement.yearOfConstruction}} г.п.
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="3">
                                            Этаж
                                        </v-col>
                                        <v-col cols="5">
                                            _____________
                                        </v-col>
                                        <v-col cols="4">
                                            {{myAnnouncement.numOfFloor}} из {{myAnnouncement.numberOfFloorsOfTheHouse}}
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="3">
                                            Площадь
                                        </v-col>
                                        <v-col cols="5">
                                            _____________
                                        </v-col>
                                        <v-col cols="4">
                                            {{myAnnouncement.area}} м²
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col>
                                            <v-card>
                                                <v-row>
                                                    <v-col cols="9">
                                                        <v-card-text
                                                                class="text-center"
                                                        >
                                                            Статус объявления (отключено / включено):
                                                        </v-card-text>
                                                    </v-col>
                                                    <v-col cols="3">
                                                        <v-switch
                                                                inset
                                                                v-model="statusOfAnnouncement"
                                                                @change="changeStatusOfAnnouncement"
                                                        />
                                                    </v-col>
                                                </v-row>
                                                <v-row>
                                                    <v-col cols="9">
                                                        <v-card-text
                                                                class="text-center"

                                                        >
                                                            Статус бронирования (не забронировано / забронировано):
                                                        </v-card-text>
                                                    </v-col>
                                                    <v-col cols="3">
                                                        <v-switch
                                                                inset
                                                                v-model="statusOfBookingOfThisAnnouncement"
                                                                disabled
                                                        />
                                                    </v-col>
                                                </v-row>
                                            </v-card>
                                        </v-col>
                                    </v-row>
                                </v-col>
                                <v-col cols="7" class="offset-sm1">
                                    <v-row>
                                        <v-col>
                                            <v-img
                                                    v-if="myAnnouncement.images.length > 0"
                                                    :src="myAnnouncement.images[selectedImage].file"
                                            />
                                            <v-img
                                                    v-else
                                                    :src="myAnnouncement.img_link"
                                            />
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col>
                                            <v-slide-group
                                                    show-arrows
                                                    prev-icon="navigate_before"
                                                    next-icon="navigate_next"
                                                    v-model="selectedImage"
                                                    mandatory
                                            >
                                                <v-slide-item
                                                        v-for="image in myAnnouncement.images"
                                                        :key="image.created"
                                                        v-slot:default="{ active, toggle }"
                                                >
                                                    <v-card
                                                            @click="toggle"
                                                            class="ma-4"
                                                            height="100"
                                                            max-width="200"
                                                    >
                                                        <v-img
                                                                :src="image.file"
                                                                height="100px"
                                                                :style=" active ? 'border: 2px solid #ffdd61;' : 'border: 0'"
                                                        ></v-img>
                                                    </v-card>
                                                </v-slide-item>
                                            </v-slide-group>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="12">
                                            {{myAnnouncement.description}}
                                        </v-col>
                                        <v-col cols="12">
                                            {{formatDate(myAnnouncement.created_at)}}
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-tab-item>

                    <v-tab-item
                            value="books"
                    >
                        <MyAnnouncementBooks />
                    </v-tab-item>

                    <v-tab-item
                            value="calendar"
                    >
                        <MyAnnouncementCalendar />
                    </v-tab-item>

                    <v-tab-item
                            value="reviews"
                    >
                        <MyAnnouncementReviews />
                    </v-tab-item>
                </v-tabs>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import MyAnnouncementBooks from "../myAnnouncement/MyAnnouncementBooks";
    import MyAnnouncementCalendar from "../myAnnouncement/MyAnnouncementCalendar";
    import MyAnnouncementReviews from "../myAnnouncement/MyAnnouncementReviews";

    export default {
        name: "MyAnnouncement",
        data: () => ({
            myAnnouncement: {},
            statusOfAnnouncement: false,
            statusOfBookingOfThisAnnouncement: false,
            loading: true,
            books: [],
            tabs: [
                {
                    id: 1,
                    name: 'Информация об объявлении',
                    href: 'announcement',
                    icon: 'announcement'
                },
                {
                    id: 2,
                    name: 'Бронирования',
                    href: 'books',
                    icon: 'book'
                },
                {
                    id: 3,
                    name: 'Календарь',
                    href: 'calendar',
                    icon: 'date_range'
                },
                {
                    id: 4,
                    name: 'Отзывы',
                    href: 'reviews',
                    icon: 'star'
                }
            ],
            selectedImage: 0
        }),
        components: {
            MyAnnouncementBooks, MyAnnouncementCalendar, MyAnnouncementReviews
        },
        async mounted () {
            this.myAnnouncement = await this.$store.dispatch('fetchCurrentMyAnnouncement');
            this.statusOfAnnouncement = this.myAnnouncement.enabled;
            this.statusOfBookingOfThisAnnouncement = this.myAnnouncement.booking_enabled;
        },
        methods: {
            formatDate (date) {
                if (!date) return null;
                date = date.slice(0, 10);

                const [year, month, day] = date.split('-');
                return `${day}/${month}/${year}`
            },
            async changeStatusOfAnnouncement () {
                const announcementUrl = "https://megapolus.herokuapp.com/apartments/" + this.myAnnouncement.id + "/";

                await this.$store.dispatch('changeStatusOfAnnouncement', {
                    announcementUrl: announcementUrl,
                    enabled: !this.myAnnouncement.enabled
                });
            }
        }
    }
</script>

<style scoped>

</style>