<template>
    <v-card
            flat
            tile
    >
        <v-row v-if="loading">
            <v-col
                    cols="12"
                    class="text-center"
            >
                <Loader />
            </v-col>
        </v-row>
        <v-row v-else-if="myAnnouncements.length > 0">
            <v-col
                    cols="8"
                    class="mx-auto"
            >
                <v-card
                        color="light-blue lighten-5"
                        class="mt-sm-2"
                        v-for="announcement in myAnnouncements"
                        :key="announcement.id"
                >
                    <v-row>
                        <v-col
                                cols="4"
                        >
                            <v-img
                                    :src="announcement.images[0].file"
                                    contain
                                    class="ml-sm-2"
                            />
                        </v-col>
                        <v-col cols="8">
                            <v-row>
                                <v-col cols="8">
                                    <v-row
                                            class="blue--text font-weight-bold"
                                    >
                                        {{announcement.numberOfRooms}}-комнатная квартира,
                                        {{announcement.area}} м²,
                                        {{announcement.numOfFloor}}/{{announcement.numberOfFloorsOfTheHouse}} этаж
                                    </v-row>
                                    <v-row
                                            class="font-weight-bold"
                                    >
                                        {{announcement.district}} р-н,
                                        {{announcement.street}}
                                        {{announcement.house}}<span v-if="announcement.apartment !== 0">, квартира {{announcement.apartment}}</span>
                                    </v-row>
                                    <v-row>
                                        {{announcement.yearOfConstruction}} г.п.
                                    </v-row>
                                </v-col>
                                <v-col
                                        cols="4"
                                        class="text-sm-center"
                                >
                                    {{announcement.price}} 〒
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="6">
                                    <v-btn
                                            color="orange"
                                            text
                                            @click="lookMyAnnouncement(announcement.id)"
                                    >
                                        Посмотреть
                                    </v-btn>
                                </v-col>
                                <v-col cols="6">
                                    <v-btn
                                            color="red"
                                            text
                                            @click="deleteMyAnnouncement(announcement.id)"
                                    >
                                        Удалить
                                    </v-btn>
                                </v-col>
                            </v-row>
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>
        </v-row>
        <v-row v-else>
            <v-col
                    cols="12"
                    class="text-center"
            >
                <h2>Сейчас нет актуальных объявлений.</h2>
                <v-btn
                        color="primary"
                        to="addAnnouncement"
                >
                    Подать объявление
                </v-btn>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12">
                <v-dialog v-model="dialogForAreYouSureToDelete" persistent max-width="420">
                    <v-card>
                        <v-card-title class="headline text-center">Вы уверены, что хотите удалить это объявление?</v-card-title>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="dialogForAreYouSureToDelete = false">Отменить</v-btn>
                            <v-btn color="red darken-1" text @click="finallyDeleteMyAnnouncement">Удалить</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-col>
        </v-row>
    </v-card>
</template>

<script>
    import Loader from "../../components/app/Loader";

    export default {
        name: "MyAnnouncements",
        data: () => ({
            myAnnouncements: [],
            loading: true,
            dialogForAreYouSureToDelete: false,
            toDeleteAnnouncementUrl: ''
        }),
        components: {
          Loader
        },
        async mounted() {
            this.myAnnouncements = await this.$store.dispatch('fetchMyAnnouncements');
            this.loading = false
        },
        methods: {
            async lookMyAnnouncement (announcementId) {
                const announcementUrl = "https://megapolus.herokuapp.com/apartments/" + announcementId + "/";

                await this.$store.dispatch('setCurrentMyAnnouncement', announcementUrl);

                let routeData;

                await this.$store.dispatch('fetchCurrentMyAnnouncement');
                routeData = this.$router.resolve({ path: '/myAnnouncement/' + announcementId});
                window.open(routeData.href, '_blank')
            },
            deleteMyAnnouncement (announcementId) {
                const announcementUrl = "https://megapolus.herokuapp.com/apartments/" + announcementId + "/";

                this.dialogForAreYouSureToDelete = true;
                this.toDeleteAnnouncementUrl = announcementUrl
            },
            async finallyDeleteMyAnnouncement () {
                this.dialogForAreYouSureToDelete = false;
                this.loading = true;
                this.myAnnouncements = this.myAnnouncements.filter(announcement => announcement.url !== this.toDeleteAnnouncementUrl);
                await this.$store.dispatch('deleteMyAnnouncement', this.toDeleteAnnouncementUrl);
                this.loading = false
            }
        }
    }
</script>

<style scoped>

</style>