<template>
    <v-container>
        <v-row>
            <v-col>
                <v-tabs
                        background-color="light-blue lighten-5"
                        class="elevation-2"
                        centered
                        icons-and-text
                        grow
                >
                    <v-tabs-slider></v-tabs-slider>

                    <v-tab
                            v-for="tab in tabs"
                            :key="tab.id"
                            :href="`#${tab.href}`"
                    >
                        {{tab.name}}
                        <v-icon>{{tab.icon}}</v-icon>
                    </v-tab>
                    <v-tab-item
                            value='status'
                    >
                        <Loader v-if="loading" />

                        <v-card
                                flat
                                tile
                                v-else
                        >
                            <v-row>
                                <v-col
                                        cols="8"
                                        class="mx-auto"
                                >
                                    <v-timeline align-top :dense="$vuetify.breakpoint.smAndDown" reverse>
                                        <v-timeline-item
                                                v-for="(item, i) in items"
                                                :key="i"
                                                :color="item.color"
                                                :icon="item.icon"
                                                fill-dot
                                        >
                                            <v-card
                                                    :color="item.color"
                                                    dark
                                            >
                                                <v-card-title class="title justify-center">{{item.text}}</v-card-title>
                                                <v-card-text class="white text--primary text-center">
                                                    <p>{{item.subText}}
                                                    <div
                                                            style="font-size: 20px"
                                                            v-if="item.id === 1"
                                                    >
                                                        {{formatDate(myBook.created)}}
                                                    </div>
                                                    <div
                                                            style="font-size: 20px"
                                                            v-if="item.id === 2 || item.id === 3"
                                                    >
                                                        <div
                                                                v-if="myBook.statuses.length"
                                                        >
                                                            {{formatDate(myBook.statuses[1].created)}}
                                                        </div>
                                                    </div>
                                                    <div
                                                            style="font-size: 20px"
                                                            v-if="item.id === 4"
                                                    >
                                                        <div
                                                                v-if="myBook.statuses.length === 4 || myBook.statuses.length > 4"
                                                        >
                                                            {{formatDate(myBook.statuses[3].created)}}
                                                        </div>
                                                    </div>

                                                    <div
                                                            style="font-size: 20px"
                                                            v-if="item.id === 5"
                                                    >
                                                        <div
                                                                v-if="myBook.statuses.length === 5 || myBook.statuses.length > 5"
                                                        >
                                                            {{formatDate(myBook.statuses[4].created)}}
                                                        </div>
                                                    </div>

                                                    <v-btn
                                                            v-if="item.buttonText && item.id === 1"
                                                            :color="item.buttonTextColor"
                                                            class="mx-0 mt-2 "
                                                            outlined
                                                            @click="cancelMyBook(item.id)"
                                                    >
                                                        {{item.buttonText}}
                                                    </v-btn>
                                                    <v-btn
                                                            v-if="item.buttonText && item.id === 3 && myBook.statuses.length === 3"
                                                            :color="item.buttonTextColor"
                                                            class="mx-0 mt-2 waitPayment"
                                                            outlined
                                                            @click="iPaidBook"
                                                    >
                                                        {{item.buttonText}}
                                                    </v-btn>
                                                    <v-btn
                                                            v-if="item.buttonText2 && item.id === 3 && myBook.statuses.length === 3"
                                                            :color="item.buttonText2Color"
                                                            class="mx-0 mt-2"
                                                            outlined
                                                    >
                                                        {{item.buttonText2}}
                                                    </v-btn>
                                                    <v-btn
                                                            v-if="item.id === 5 && myBook.statuses.length === 5"
                                                            color="red"
                                                            class="mx-0 mt-2"
                                                            outlined
                                                    >
                                                        {{item.buttonText2}}
                                                    </v-btn>
                                                </v-card-text>
                                            </v-card>
                                        </v-timeline-item>
                                    </v-timeline>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-tab-item>

                    <v-tab-item
                            value='apartment'
                    >
                        <v-card
                                flat
                                tile
                        >
                            <v-row>
                                <v-col
                                        cols="10"
                                        class="offset-1"
                                >
                                    <v-row>
                                        <v-col>
                                            <h2>
                                                <span>
                                                    {{getCurrentAnnouncement.numberOfRooms}}-комнатная квартира,
                                                    {{getCurrentAnnouncement.area}} м²,
                                                    {{getCurrentAnnouncement.numOfFloor}}/{{getCurrentAnnouncement.numberOfFloorsOfTheHouse}}
                                                    этаж,
                                                    {{getCurrentAnnouncement.district}} р-н,
                                                    {{getCurrentAnnouncement.street}}
                                                    {{getCurrentAnnouncement.house}}<span v-if="getCurrentAnnouncement.apartment !== 0">, квартира {{getCurrentAnnouncement.apartment}}</span>
                                                </span>
                                            </h2>
                                        </v-col>
                                    </v-row>
                                    <v-divider />
                                    <v-row>
                                        <v-col>
                                            <h3>
                                                {{getCurrentAnnouncement.price}} 〒
                                            </h3>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="4">
                                            <v-row>
                                                <v-col cols="3">
                                                    Район
                                                </v-col>
                                                <v-col cols="5">
                                                    _______________
                                                </v-col>
                                                <v-col cols="4">
                                                    {{getCurrentAnnouncement.district}}
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col cols="3">
                                                    Дом
                                                </v-col>
                                                <v-col cols="5">
                                                    _______________
                                                </v-col>
                                                <v-col cols="4">
                                                    {{getCurrentAnnouncement.yearOfConstruction}} г.п.
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col cols="3">
                                                    Этаж
                                                </v-col>
                                                <v-col cols="5">
                                                    _______________
                                                </v-col>
                                                <v-col cols="4">
                                                    {{getCurrentAnnouncement.numOfFloor}} из {{getCurrentAnnouncement.numberOfFloorsOfTheHouse}}
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col cols="3">
                                                    Площадь
                                                </v-col>
                                                <v-col cols="5">
                                                    _______________
                                                </v-col>
                                                <v-col cols="4">
                                                    {{getCurrentAnnouncement.area}} м²
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col>
                                                    <v-card>
                                                        <v-card-text>
                                                            Автор объявления
                                                        </v-card-text>
                                                        <v-card-text class="orange--text">
                                                            Объявление от хозяина
                                                        </v-card-text>
                                                        <v-card-text>
                                                            <h2>
                                                                +7 705 676 0000
                                                            </h2>
                                                        </v-card-text>
                                                        <v-card-actions>
                                                            <v-btn
                                                                    block
                                                                    class="lime"
                                                            >
                                                                Написать сообщение
                                                            </v-btn>
                                                        </v-card-actions>
                                                    </v-card>
                                                </v-col>
                                            </v-row>
                                        </v-col>
                                        <v-col cols="8">
                                            <v-row>
                                                <v-col>
                                                    <v-img
                                                            v-if="getCurrentAnnouncement.images.length > 0"
                                                            :src="getCurrentAnnouncement.images[selectedImage].file"
                                                    />
                                                    <v-img
                                                            v-else
                                                            :src="getCurrentAnnouncement.img_link"
                                                    />
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col>
                                                    <v-slide-group
                                                            show-arrows
                                                            prev-icon="navigate_before"
                                                            next-icon="navigate_next"
                                                            v-model="selectedImage"
                                                            mandatory
                                                    >
                                                        <v-slide-item
                                                                v-for="image in getCurrentAnnouncement.images"
                                                                :key="image.created"
                                                                v-slot:default="{ active, toggle }"
                                                        >
                                                            <v-card
                                                                    @click="toggle"
                                                                    class="ma-4"
                                                                    height="100"
                                                                    max-width="200"
                                                            >
                                                                <v-img
                                                                        :src="image.file"
                                                                        height="100px"
                                                                        :style=" active ? 'border: 2px solid #ffdd61;' : 'border: 0'"
                                                                ></v-img>
                                                            </v-card>
                                                        </v-slide-item>
                                                    </v-slide-group>
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col cols="12">
                                                    {{getCurrentAnnouncement.description}}
                                                </v-col>
                                                <v-col cols="12">
                                                    {{formatDate(getCurrentAnnouncement.created_at)}}
                                                </v-col>
                                            </v-row>
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-tab-item>
                </v-tabs>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12">
                <v-dialog v-model="dialogForAreYouSureToDelete" persistent max-width="440">
                    <v-card>
                        <v-card-title class="headline text-center">Вы уверены, что хотите отменить это бронирование?</v-card-title>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="dialogForAreYouSureToDelete = false">Нет, оставить</v-btn>
                            <v-btn color="red darken-1" text @click="finallyDeleteMyBook">Да, отменить</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import Loader from "../../components/app/Loader";

    import {mapGetters} from "vuex";

    export default {
        name: "MyBooksOfApartments",
        data: () => ({
            tabs: [
                {
                    id: 1,
                    name: 'Статус бронирования',
                    href: 'status',
                    icon: 'hourglass_empty'
                },
                {
                    id: 2,
                    name: 'Информация о квартире',
                    href: 'apartment',
                    icon: 'apartment'
                }
            ],
            items: [
                {
                    id: 1,
                    color: 'red lighten-2',
                    icon: 'mdi-plus-one',
                    text: 'Запрос на бронирование',
                    subText: 'Ваш запрос на бронирование этой квартиры успешно обработан. ' +
                        'Мы сообщим как только хозяин квартиры, потвердит данное бронирование',
                    buttonText: 'Отменить бронирование',
                    buttonTextColor: ''
                },
                {
                    id: 2,
                    color: 'grey',
                    icon: 'mdi-check-circle',
                    text: 'Потверждение бронирования',
                    subText: ''
                },
                {
                    id: 3,
                    color: 'grey',
                    icon: 'account_balance_wallet',
                    text: 'Ожидание оплаты',
                    buttonText: 'Я оплатил',
                    buttonTextColor: '',
                    buttonText2: 'Отказаться от бронирования',
                    buttonText2Color: ''
                },
                {
                    id: 4,
                    color: 'grey',
                    icon: 'money',
                    text: 'Потверждение оплаты'
                },
                {
                    id: 5,
                    color: 'grey',
                    icon: 'timelapse',
                    text: 'В процессе'
                },
                {
                    id: 6,
                    color: 'grey',
                    icon: 'done_all',
                    text: 'Конец бронирования'
                }
            ],
            dialogForAreYouSureToDelete: false,
            toDeleteMyBookUrl: '',
            myBook: {},
            loading: true,
            selectedImage: 0
        }),
        components: {
          Loader
        },
        computed: {
            ...mapGetters(['getCurrentAnnouncement']),
            ...mapGetters(['getCurrentMyBookUrl'])
        },
        async mounted () {
            this.myBook = await this.$store.dispatch('fetchCurrentMyBook', this.getCurrentMyBookUrl);
            this.items[0].buttonTextColor = 'red';
            const statuses = this.myBook.statuses.length;
            if (statuses) {
                if (statuses >= 3) {
                    this.items[0].buttonText = '';

                    this.items[1].color = 'amber';
                    this.items[1].subText = 'Хозяин квартиры подтвердил это бронирование. Теперь вы можете оплатить бронь';

                    this.items[2].color = 'purple';
                    this.items[2].buttonTextColor = 'green';
                    this.items[2].buttonText2Color = 'red';
                    this.items[2].subText = 'Арендодатель принял ваш запрос на бронирование данной квартиры. Чтобы перейти к следующей стадии, пожалуйста, оплатите бронь через платежные сервисы, через которыми вы ранее согласовали с арендодателем.';

                    if(statuses >= 4) {
                        this.items[3].color = 'lime';
                        this.items[3].subText = 'В ближайшее время арендодатель подтвердит оплату бронирования. После этого в указанное время вами вы можете жить в квартире.'
                    }
                }

                if (statuses >= 5) {
                    this.items[4].color = 'yellow';
                    this.items[4].subText = 'Арендодатель потвердил оплату. Теперь с даты начала бронирование, которое вы указали при бронировании, вы можете заселиться в квартиру';
                    this.items[4].buttonText2 = 'Остановить бронирование';
                    this.items[5].color = 'red';
                    this.items[4].subText = 'Конец';
                }
            }
            this.loading = false
        },
        methods: {
            formatDate (date) {
                if (!date) return null;
                date = date.slice(0, 10);

                const [year, month, day] = date.split('-');
                return `${day}/${month}/${year}`
            },
            async cancelMyBook (id) {
                if (id === 1) {
                    const myBookUrl = "https://megapolus.herokuapp.com/booking/" + this.myBook.id + "/";
                    this.dialogForAreYouSureToDelete = true;
                    this.toDeleteMyBookUrl = myBookUrl;
                }
            },
            async finallyDeleteMyBook () {
                const announcementUrl = "https://megapolus.herokuapp.com/apartments/" + this.getCurrentAnnouncement.id + "/";
                this.dialogForAreYouSureToDelete = false;
                await this.$store.dispatch("deleteMyBook", this.toDeleteMyBookUrl);
                await this.$store.dispatch('changeStatusOfBookingOfThisAnnouncement', {
                    announcementUrl: announcementUrl,
                    booking_enabled: false
                });
                this.$router.push('/profile')
            },
            async iPaidBook () {
                this.loading = true;

                const bookUrl = "https://megapolus.herokuapp.com/booking/" + this.myBook.id + "/";

                await this.$store.dispatch('addStatusOfBook', {
                    term: 4,
                    booking: this.myBook.id
                });

                this.myBook = await this.$store.dispatch('fetchCurrentMyBook', bookUrl);

                this.items[3].color = 'lime';
                this.items[3].subText = 'В ближайшее время арендодатель подтвердит оплату бронирования. После этого в указанное время вами вы можете жить в квартире.';

                this.loading = false;
            }
        }
    }
</script>

<style scoped>

</style>