<template>
    <v-card
            flat
            tile
    >
        <v-row v-if="loading">
            <v-col
                    cols="12"
                    class="text-center"
            >
                <Loader />
            </v-col>
        </v-row>
        <v-row v-else-if="myBooks.length > 0">
            <v-col
                    cols="8"
                    class="mx-auto"
            >
                <v-card
                        color="light-blue lighten-5"
                        class="mt-sm-2"
                        v-for="book in myBooks"
                        :key="book.url"
                        @click="currentBook(book.id, book.apartment)"
                >
                    <v-row>
                        <v-col
                                cols="6"
                                class="text-sm-right blue--text"
                                style="font-size: 20px"
                        >
                            Дни бронирования:
                        </v-col>
                        <v-col
                                cols="6"
                                class="text-sm-left green--text"
                                style="font-size: 20px"
                        >
                            {{formatDate(book.date_start)}}
                            -
                            {{formatDate(book.date_end)}}
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col
                                cols="6"
                                class="text-sm-right blue--text"
                                style="font-size: 20px"
                        >
                            Описание:
                        </v-col>
                        <v-col
                                cols="6"
                                class="text-sm-left green--text"
                                style="font-size: 20px"
                        >
                            {{book.description}}
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>
        </v-row>
        <v-row v-else>
            <v-col
                    cols="12"
                    class="text-center"
            >
                <h2>Сейчас нет актуальных брони квартир.</h2>
                <v-btn
                        color="primary"
                        to="/"
                >
                    Список квартир
                </v-btn>
            </v-col>
        </v-row>
    </v-card>
</template>

<script>
    import Loader from "../../components/app/Loader";

    export default {
        name: "MyBooks",
        data: () => ({
            myBooks: [],
            loading: true
        }),
        components: {
            Loader
        },
        async mounted() {
            this.myBooks = await this.$store.dispatch('fetchMyBooks');
            this.loading = false
        },
        methods: {
            formatDate (date) {
                if (!date) return null;

                const [year, month, day] = date.split('-');
                return `${day}/${month}/${year}`
            },
            async currentBook (bookId, announcementId) {
                let bookUrl = "https://megapolus.herokuapp.com/booking/" + bookId + "/";
                let announcementUrl = "https://megapolus.herokuapp.com/apartments/" + announcementId + "/";

                let routeData;

                await this.$store.dispatch('fetchCurrentMyBook', bookUrl);
                await this.$store.dispatch('fetchCurrentAnnouncement', announcementUrl);
                routeData = this.$router.resolve({ path: '/book/' + bookId});
                window.open(routeData.href, '_blank')
            }
        }
    }
</script>

<style scoped>

</style>