<template>
    <v-card
            flat
            tile
    >
        <v-row v-if="loading">
            <v-col>
                <Loader />
            </v-col>
        </v-row>
        <v-row v-else>
            <v-col cols="12">
                <v-card-title>
                    Общие:
                </v-card-title>
            </v-col>
            <v-col cols="4" class="offset-1">
                <v-card class="amber lighten-1">
                    <v-row>
                        <v-col cols="12">
                            <v-card-title class="justify-center">
                                Количество ваших объявлений:
                            </v-card-title>
                            <v-card-title class="justify-center">
                                {{myAnnouncements.length}}
                            </v-card-title>
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>

            <v-col cols="4" class="offset-2">
                <v-card class="amber lighten-1">
                    <v-row>
                        <v-col cols="12">
                            <v-card-title class="justify-center">
                                Количество ваших бронирований:
                            </v-card-title>
                            <v-card-title class="justify-center">
                                {{myBooks.length}}
                            </v-card-title>
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>

            <v-col cols="4" class="offset-4">
                <v-card class="amber lighten-1">
                    <v-row>
                        <v-col cols="12">
                            <v-card-title class="justify-center">
                                Количество брони ваших квартир:
                            </v-card-title>
                            <v-card-title class="justify-center">
                                {{myAnnouncementsBooks.length}}
                            </v-card-title>
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>

            <v-col cols="12">
                <v-divider />
            </v-col>

            <v-col cols="12">
                <v-card-title>
                    Доходы:
                </v-card-title>
            </v-col>

            <v-col cols="4" class="offset-4">
                <v-card class="amber lighten-1">
                    <v-row>
                        <v-col cols="12">
                            <v-card-title class="justify-center">
                                Общее количество доходов:
                            </v-card-title>
                            <v-card-title class="justify-center">
                                {{incomeInJan + incomeInMar + incomeInMay}} 〒
                            </v-card-title>
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>

            <v-col cols="10" class="offset-1">
                <v-card
                        color="lime"
                >
                    <v-row>
                        <v-col cols="12">
                            <v-sparkline
                                    :value="incomesByMonths"
                                    :labels="months"
                                    stroke-linecap="round"
                                    smooth
                                    color="white"
                            >
                            </v-sparkline>
                        </v-col>
                        <v-col
                                cols="1"
                                v-for="(income, i) in incomesByMonths"
                                :key="i"
                                class="text-center"

                        >
                            <span
                                    style="color: white; font-size: 20px"
                            >
                                {{income}}
                            </span>
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>

            <v-col cols="12">
                <v-divider />
            </v-col>

            <v-col cols="12">
                <v-card-title>
                    Расходы:
                </v-card-title>
            </v-col>

            <v-col cols="4" class="offset-4">
                <v-card class="amber lighten-1">
                    <v-row>
                        <v-col cols="12">
                            <v-card-title class="justify-center">
                                Общее количество расходов:
                            </v-card-title>
                            <v-card-title class="justify-center">
                                {{allMyOutcome}} 〒
                            </v-card-title>
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>

        </v-row>

    </v-card>
</template>

<script>

    import Loader from "@/components/app/Loader"

    export default {
        name: "MyStatistics",
        data: () => ({
            myAnnouncements: [],
            myBooks: [],
            myAnnouncementsBooks: [],
            loading: true,
            incomesByMonths: [
                423,
                446,
                675,
                510,
                590,
                610,
                760,
                675,
                510,
                590,
                610,
                760
            ],
            months: [
                "Янв", "Фев", "Март", "Апр",
                "Май", "Июнь", "Июль", "Авг",
                "Сен", "Окт", "Нояб", "Дек"
            ],
            allMyIncome: 0,
            allMyOutcome: 0,
            incomeInJan: 0,
            incomeInFeb: 0,
            incomeInMar: 0,
            incomeInApr: 0,
            incomeInMay: 0,
            incomeInJun: 0,
            incomeInJul: 0,
            incomeInAug: 0,
            incomeInSep: 0,
            incomeInOct: 0,
            incomeInNov: 0,
            incomeInDec: 0
        }),
        components: {
          Loader
        },
        async mounted() {
            this.myAnnouncements = await this.$store.dispatch('fetchMyAnnouncements');
            this.myBooks = await this.$store.dispatch('fetchMyBooks');
            this.myAnnouncementsBooks = await this.$store.dispatch('fetchMyAnnouncementsBooks');

            this.allMyIncome = await this.$store.dispatch('calcAllMyIncome');
            this.allMyOutcome = await this.$store.dispatch('calcAllMyOutcome');

            this.incomeInJan = await this.$store.dispatch("calcMyIncomeByMonth", 1);
            this.incomeInFeb = await this.$store.dispatch("calcMyIncomeByMonth", 2);
            this.incomeInMar = await this.$store.dispatch("calcMyIncomeByMonth", 3);
            this.incomeInApr = await this.$store.dispatch("calcMyIncomeByMonth", 4);
            this.incomeInMay = await this.$store.dispatch("calcMyIncomeByMonth", 5);
            this.incomeInJun = await this.$store.dispatch("calcMyIncomeByMonth", 6);
            this.incomeInJul = await this.$store.dispatch("calcMyIncomeByMonth", 7);
            this.incomeInAug = await this.$store.dispatch("calcMyIncomeByMonth", 8);
            this.incomeInSep = await this.$store.dispatch("calcMyIncomeByMonth", 9);
            this.incomeInOct = await this.$store.dispatch("calcMyIncomeByMonth", 10);
            this.incomeInNov = await this.$store.dispatch("calcMyIncomeByMonth", 11);
            this.incomeInDec = await this.$store.dispatch("calcMyIncomeByMonth", 12);

            this.incomesByMonths[0] = this.incomeInJan;
            this.incomesByMonths[1] = this.incomeInFeb;
            this.incomesByMonths[2] = this.incomeInMar;
            this.incomesByMonths[3] = this.incomeInApr;
            this.incomesByMonths[4] = this.incomeInMay;
            this.incomesByMonths[5] = this.incomeInJun;
            this.incomesByMonths[6] = this.incomeInJul;
            this.incomesByMonths[7] = this.incomeInAug;
            this.incomesByMonths[8] = this.incomeInSep;
            this.incomesByMonths[9] = this.incomeInOct;
            this.incomesByMonths[10] = this.incomeInNov;
            this.incomesByMonths[11] = this.incomeInDec;

            this.loading = false
        },
    }
</script>

<style scoped>

</style>