<template>
    <v-container
            class="fill-height"
            fluid
    >
        <v-row
                align="center"
                justify="center"
        >
            <v-col
                    cols="12"
                    sm="8"
                    md="4"
            >
                <v-card class="elevation-12">
                    <v-toolbar
                            color="primary"
                            dark
                            flat
                    >
                        <v-toolbar-title>Войти</v-toolbar-title>
                        <v-spacer />
                    </v-toolbar>
                    <v-card-text>
                        <v-form>
                            <v-text-field
                                    label="Имя пользователя"
                                    name="login"
                                    prepend-icon="person"
                                    type="text"
                                    v-model="username"
                            />

                            <v-text-field
                                    id="password"
                                    label="Пароль"
                                    name="password"
                                    prepend-icon="lock"
                                    :type="showPassword ? 'text' : 'password'"
                                    v-model="password"
                                    :append-icon="showPassword ? 'mdi-eye'
                                                               : 'mdi-eye-off'"
                                    @click:append="showPassword = !showPassword"
                            />
                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn
                                color="info"
                                to="/registration"
                        >
                            Регистрация
                        </v-btn>
                        <v-spacer />
                        <v-btn
                                color="primary"
                                type="submit"
                                @click.prevent="login"
                        >
                            Войти
                        </v-btn>
                    </v-card-actions>
                    <v-card-text>
                      <h2>Если лень регистрироваться, то имя пользователя - saken, пароль - %uO7Y2ym</h2>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: "Login",
        data: () => ({
            username: '',
            password: '',
            showPassword: false
        }),
        methods: {
            async login() {
                await this.$store.dispatch('login', {
                    username: this.username,
                    password: this.password
                });
                this.$router.push('/')
            }
        }
    }
</script>

<style scoped>

</style>