<template>
    <v-container>
        <v-row>
            <v-col>
                <v-tabs
                        background-color="light-blue lighten-5"
                        class="elevation-2"
                        centered
                        icons-and-text
                        grow
                >
                    <v-tabs-slider></v-tabs-slider>

                    <v-tab
                            v-for="tab in tabs"
                            :key="tab.id"
                            :href="`#${tab.href}`"
                    >
                        {{tab.name}}
                        <v-icon>{{tab.icon}}</v-icon>
                    </v-tab>
                    <v-tab-item
                            value='profile'
                    >
                        <v-card
                                flat
                                tile
                        >
                            <v-row>
                                <v-col>
                                    <v-card-title
                                            class="justify-center"
                                    >
                                        Здравствуйте, {{getUser.username}}! Рады видеть вас!
                                    </v-card-title>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col
                                        cols="4"
                                        style="font-size: 20px"
                                        class="offset-sm-2 mt-sm-3"
                                >
                                    Имя в комментариях и сообщениях
                                </v-col>
                                <v-col cols="4">
                                    <v-text-field
                                            single-line
                                            outlined
                                            v-model="getUser.username"
                                    ></v-text-field>
                                </v-col>
                            </v-row>
                            <v-row>
                            <v-col
                                    cols="4"
                                    style="font-size: 20px"
                                    class="offset-sm-2 mt-sm-3"
                            >
                                Электронная почта
                            </v-col>
                            <v-col cols="4">
                                <v-text-field
                                        single-line
                                        outlined
                                        v-model="getUser.email"
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-card-actions
                                        class="justify-center"
                                >
                                    <v-btn
                                            color="info"
                                    >
                                        Сохранить
                                    </v-btn>
                                </v-card-actions>
                            </v-col>
                        </v-row>
                        </v-card>
                    </v-tab-item>

                    <v-tab-item
                            value='myAnnouncements'
                    >
                        <MyAnnouncements />
                    </v-tab-item>

                    <v-tab-item
                            value="statistics"
                    >
                        <MyStatistics />
                    </v-tab-item>

                    <v-tab-item
                            value='myBooks'
                    >
                        <MyBooks />
                    </v-tab-item>
                </v-tabs>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>

    import {mapGetters} from "vuex";

    import MyAnnouncements from "@/views/profile/MyAnnouncements";
    import MyBooks from "@/views/profile/MyBooks";
    import MyStatistics from "@/views/profile/MyStatistics";

    export default {
        name: "Profile",
        data: () => ({
            tabs: [
                {
                    id: 1,
                    name: 'Анкетные данные',
                    href: 'profile',
                    icon: 'account_circle'
                },
                {
                    id: 2,
                    name: 'Мои объявления',
                    href: 'myAnnouncements',
                    icon: 'announcement'
                },
                {
                    id: 3,
                    name: 'Общая статистика',
                    href: 'statistics',
                    icon: 'timeline'
                },
                {
                    id: 4,
                    name: 'Мои бронирования',
                    href: 'myBooks',
                    icon: 'book'
                },
            ]
        }),
        computed: {
            ...mapGetters(['getUser'])
        },
        components: {
            MyAnnouncements, MyBooks, MyStatistics
        }
    }
</script>

<style scoped>

</style>