<template>
  <v-app>
    <Navbar />

    <v-content>
      <router-view />
    </v-content>

    <Footer />
  </v-app>
</template>

<script>

import Navbar from "@/components/app/Navbar";
import Footer from "./components/app/Footer";
export default {
  name: 'App',
  components: {Footer, Navbar},
  data: () => ({
    //
  }),
};
</script>
